<div ng-controller="PlaidTest" class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<div class="list-group-item active" ng-click="tools.account.focus()">All Accounts</div>
				<a class="list-group-item" ng-class="{'bg-danger':a.type=='credit'}" ng-repeat="a in plaid.accounts" ng-click="tools.account.focus(a)">
					<span>{{a.meta.name}} ({{a.meta.number}})</span> <span class="badge">{{a.balance.available | currency}}</span>
				</a>
				<div class="list-group-item"><a class="btn btn-block btn-lg btn-info" ng-click="tools.plaid()">Connect Bank Account</a></div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row bounceIn bounceOut">
				<div class="col-md-3" ng-repeat="t in plaid.transactions | filter:search">
					<div class="thumbnail" ng-class="t.amount>0 ? 'bg-danger' : 'bg-success'">
						<p>{{t.name}}</p>
						<hr>
						<h3>{{-t.amount | currency}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>