<div ng-controller="VinliCtrl" class="container">
	<div class="row">
		<div class="col-md-6">
			<a class="btn btn-block btn-success" ng-href="{{vinliUrl}}">Link Vinli Account</a>
		</div>
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item" ng-repeat="r in regex">
					<input type="text" placeholder="Name" ng-model="r.name">
					<input type="text" placeholder="Regex" ng-model="r.exp">
				</div>
				<div class="list-group-item">
					<input type="text" placeholder="Name" ng-model="temp.name">
					<input type="text" placeholder="Regex" ng-model="temp.exp">
					<a class="btn btn-info" ng-click="tools.add(temp.name, temp.exp)">+</a>
				</div>
			</div>
		</div>
	</div>
</div>