<!DOCTYPE html>
<html>
<!--<html lang="en" manifest="offline.appcache">-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Offline Forms">
	<link rel="icon" href="../favicon.ico">

	<title>Form</title>
	<link href="vendor.css" rel="stylesheet">
	<link href="app.css" rel="stylesheet">
	
	<script src="vendor.js"></script>
	<script src="app.js"></script>
</head>

<body ng-app="offlineForms" ng-controller="FormsCtrl">
	<div class="container-fluid">
		<div class="well parent">FORMS
			<ul class="child">
				<li>Login To Obtain Data</li>
				<li>Protect with pin?</li>
				<li>Save form locally</li>
				<li>Save Pointer Data Locally</li>
				<li>Save completed form locally</li>
				<li>Sync completed forms when connected</li>
				<li>Sync new pointer data when connected</li>
				<li>Manage Forms, View Data, Edit Data, Sync Data, Manage Data Retention</li>
			</ul>
			<p class="child">{{form}}</p>
			<a class="btn btn-success pull-right" target="_blank" href="../#/admin/forms/{{form.objectId}}?action=create">Edit</a>
		</div>
		
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<div class="list-group-item active">Forms</div>
					<div class="list-group-item" ng-repeat="form in forms">
						<span>{{form.title}}</span>
						<span class="label pull-right" ng-class="form.offline ? 'label-success' : 'label-danger'" ng-click="tools.loadFormData(form)">{{!!form.offline}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-8" ng-include="'fill.html'"></div>
		</div>
	</div>
	<div class="col-md-8" ng-include="'fields.html'"></div>
</body>
</html>