<!--Text Input-->
<script type="text/ng-template" id="text.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" title="This will be displayed<p> as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Pointer Input-->
<script type="text/ng-template" id="pointer.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" 			title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Database"		ng-model="focus.ptr.database" 	title="Enter the name of the table you want to allow users to choose from.">
	<input type="text" class="form-control" placeholder="Query"			ng-model="focus.ptr.query" 		title="Use this to limit the options.">
	<input type="text" class="form-control" placeholder="Display"		ng-model="focus.ptr.key" 		title="The column that will be displayed in the dropdown box.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" 	title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" 			title="This will<p> be displayed as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Color Input-->
<script type="text/ng-template" id="color.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" title="This will be displayed<p> as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Date Input-->
<script type="text/ng-template" id="date.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" title="This will be displayed<p> as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Number Input-->
<script type="text/ng-template" id="number.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" title="This will be displayed<p> as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--TextArea Input-->
<script type="text/ng-template" id="textarea.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" title="This will be displayed<p> as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Checkbox Input-->
<script type="text/ng-template" id="checkbox.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" title="This is helper text">
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" title="This will be displayed<p> as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--File Input-->
<script type="text/ng-template" id="file.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique<p> and only contain (letters, numbers, and underscores) - no spaces.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Signature Input-->
<script type="text/ng-template" id="signature.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" title="This should be unique<p> and only contain (letters, numbers, and underscores) - no spaces.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>


<!--Select Input-->
<script type="text/ng-template" id="select.details">
	<input type="text" class="form-control" placeholder="Field Title"   ng-model="focus.title">
	<input type="text" class="form-control" placeholder="Field Id"      ng-model="focus.name" 			title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<input type="text" class="form-control" placeholder="Placeholder"   ng-model="focus.placeholder" 	title="This is helper text">
	<div class="panel panel-default">
		<div class="panel-heading">Select Options</div>
		<div class="panel-body">
			<table class="table">
				<tr ng-repeat="item in focus.options track by $index">
					<td><input type="text" class="form-control" ng-model="item.name" placeholder="Value"></td>
					<td><input type="text" class="form-control" ng-model="item.title" placeholder="Display"></td>
					<td><i class="fa fa-trash" ng-click="tools.item.remove(focus.options, item)"></i></td>
				</tr>
				<tr>
					<td colspan="3"><a class="btn btn-block btn-info" ng-click="tools.item.add(focus, 'options', {})">Add Option</a></td>
				</tr>
			</table>
		</div>
	</div>
	<input type="text" class="form-control" placeholder="Link"   		ng-model="focus.link" 			title="This will<p> be displayed as a link.">
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Header-->
<script type="text/ng-template" id="header.details">
	<input type="text" class="form-control" placeholder="Field Title"		ng-model="focus.title">
	<textarea class="form-control"          placeholder="Paragraph Text"	ng-model="focus.p"></textarea>
	<div class="list-group">
		<a class="list-group-item active">Files</a>
		<a class="list-group-item" ng-repeat="file in focus.files"><img ng-src="{{file.iconUrl}}"> {{file.name}} <i class="fa fa-trash pull-right" ng-click="tools.item.remove(fParent.fields, focus.files, file)"></i></a>
		<a class="list-group-item" ng-click="tools.item.addFiles(focus)">Add Files</a>
	</div>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>

<!--Grouping-->
<script type="text/ng-template" id="group.details">
	<input type="text" 	class="form-control" 	placeholder="Field Title"		ng-model="focus.title">
	<textarea 			class="form-control" 	placeholder="Paragraph Text"	ng-model="focus.p"></textarea>
	<input type="text" 	class="form-control" 	placeholder="Field Id" 			ng-model="focus.name" title="This should be unique and only contain (letters, numbers, and underscores) - no spaces.">
	<div class="list-group">
		<a class="list-group-item active">Files</a>
		<a class="list-group-item" ng-repeat="file in focus.files"><img ng-src="{{file.iconUrl}}"> {{file.name}} <i class="fa fa-trash pull-right" ng-click="tools.item.remove(fParent.fields, focus.files, file)"></i></a>
		<a class="list-group-item" ng-click="tools.item.addFiles(focus)">Add Files</a>
	</div>
	<p><label for="asArray"><input id="asArray" type="checkbox" 			ng-model="focus.array"> As Array</label></p>
	<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" 		ng-model="focus.removeable"> Allow Remove</label></p>
	<a class="btn btn-block btn-danger" ng-click="tools.item.remove(fParent.fields, focus)">Delete</a>
</script>