<div class="container" ng-controller="AdminFormsCreateCtrl">
	<!--<nav class="navbar navbar-default" ng-click="tools.item.focus(form, true)">-->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" contenteditable ng-model="form.title">{{form.title}}</a>
			</div>
	
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<p class="navbar-text"><a target="_new" ng-href="#/admin/tables/{{form.name}}">Table:</a> <span contenteditable ng-model="form.name">{{form.name}}</span></p>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="tools.modal('share')"><i class="fa fa-user-plus"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/admin/forms">Open</a></li>
							<li><a ng-click="tools.form.new()">New</a></li>
							<li><a ng-click="tools.form.copy()">Copy</a></li>
							<li role="separator" class="divider"></li>
							<li><a target="_blank" href="#/admin/tables/{{form.name}}">Data</a></li>
							<li><a target="_blank" href="#/admin/forms/{{form.objectId}}?action=fill">Fill</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="tools.form.save()">Save</a></li>
							<li><a ng-click="tools.form.delete()">Delete</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="tools.modal('share')">Share</a></li>
							<li><a ng-click="tools.modal('properties')">Properties</a></li>
							<li><a ng-click="tools.modal('workflow')">Workflow</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group" sticky media-query="min-width: 1080px" offset="50">
				<li class="list-group-item active">Add A Field</li>
				<li class="list-group-item" ng-class="{disabled: !field.enabled}" ng-repeat="field in fieldOptions" ng-click="tools.field.add(field)">{{field.title}}</li>
			</ul>
		</div>
		
		<div class="col-md-6">
			<div class="well" ng-show="form.p"><p contenteditable ng-model="form.p">{{form.p}}</p></div>
			<div class="well clearfix" ng-class="{highlight: form==fParent}">
				<form ng-click="tools.item.focus(form)">
					<div class="list-group parent animate-repeat" ng-repeat="field in form.fields" ng-click="tools.item.focus(field)">
						<div class="list-group-item active" ng-show="field == focus">
							<span class="move" ng-drag="true" ng-drag-data="{{field}}" ng-drag-start="tools.drag.start(form,field,$event)" ng-drag-stop="tools.drag.stop()"><i class="fa fa-arrows"></i></span>
							<div class="btn-group btn-group-xs pull-right" role="group">
								<a class="btn btn-default"><i class="fa fa-clone" title="Clone" ng-click="tools.item.copy(fParent.fields, field)"></i></a>
								<a class="btn btn-default"><i class="fa fa-trash" title="Delete" ng-click="tools.item.remove(fParent.fields, field)"></i></a>
							</div>
						</div>
						<div class="list-group-item" ng-class="{highlight: field==fParent}">
							<div class="form-group" ng-if="!field.array" ng-include="field.type+'.field'"></div>
							<div class="list-group" ng-if="field.array">
								<div class="list-group-item">Array: {{field.title}}</div>
								<div class="list-group-item">
									<div class="form-group" ng-include="field.type+'.field'"></div>
								</div>
							</div>
						</div>
						<div class="form-dropzone" ng-show="dragItem" ng-drop="true" ng-drop-success="tools.drop.complete(form,field,$event)">
							<p class="reveal text-center">{{dragItem.title}}</p>
						</div>
					</div>
					<button type="submit" class="btn btn-success pull-right" ng-click="tools.form.save()">Save</button>
				</form>
			</div>
		</div>
		
		<div class="col-md-3">
			<div sticky media-query="min-width: 1080px" stick-limit="true" offset="50">
				<div class="well">
					<div ng-include="focus.type+'.details'"></div>
					<hr>
					<div ng-show="focus.type">
						<p><label for="asArray"><input id="asArray" type="checkbox" ng-model="focus.array"> As Array</label></p>
						<p><label for="removeable" ng-show="focus.array"><input id="removeable" type="checkbox" ng-model="focus.removeable"> Allow Remove</label></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	<div class="modal fade" id="properties" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Form Properties</h4>
				</div>
				<div class="modal-body">
					<input type="text" 	class="form-control" 	placeholder="Title"			ng-model="form.title">
					<textarea 			class="form-control" 	placeholder="Description"	ng-model="form.p"></textarea>
					<input type="text" 	class="form-control" 	placeholder="table_id"		ng-model="form.name" title="This defines the table to which the data will be saved.">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="workflow" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Form Workflow</h4>
				</div>
				<div class="modal-body">
					<div><!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#email" aria-controls="email" role="tab" data-toggle="tab">Email</a></li>
							<li role="presentation"><a href="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
							<li role="presentation"><a href="#redirect" aria-controls="redirect" role="tab" data-toggle="tab">Redirect</a></li>
						</ul>
						
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="email">
								<p class="alert alert-info">When someone submits this form, workflow members will receive a link to the specified form refrencing the data submitted.</p>
								<table class="table">
									<tr>
										<td>User</td>
										<td>Form</td>
										<td>Remove</td>
									</tr>
									<tr ng-repeat="action in form.actions | filter:{type:'email'}">
										<td><select class="form-control" ng-model="action.userId" ng-options="user.objectId as user.username for user in users"></select></td>
										<td><select class="form-control" ng-model="action.formId" ng-options="form.objectId as form.title for form in forms"></select></td>
										<td><a class="btn btn-danger" ng-click="tools.item.remove(form.actions, action)"><i class="fa fa-trash"></i></a></td>
									</tr>
									<tr>
										<td colspan="3"><a class="btn btn-info btn-block" ng-click="tools.item.add(form, 'actions', {type:'email'})">Add Workflow</a></td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="tab-pane" id="calendar">
								<p class="alert alert-info">When someone submits this form, an entry will be added to the following calendars.</p>
								<table class="table">
									<tr>
										<td>Calendar</td>
										<td>Start Date</td>
										<td>End Date</td>
										<td>Title</td>
										<td>Remove</td>
									</tr>
									<tr ng-repeat="action in form.actions | filter:{type:'calendar'}">
										<td><select class="form-control" ng-model="action.calendar" ng-options="calendar as calendar.summary for calendar in calendars"></select></td>
										<td><input type="text" class="form-control" ng-model="action.startDateCol" placeholder="columnName"></td>
										<td><input type="text" class="form-control" ng-model="action.endDateCol" placeholder="columnName"></td>
										<td><input type="text" class="form-control" ng-model="action.titleCol" placeholder="columnName"></td>
										<td><a class="btn btn-danger" ng-click="tools.item.remove(form.actions, action)"><i class="fa fa-trash"></i></a></td>
									</tr>
									<tr>
										<td colspan="5"><a class="btn btn-info btn-block" ng-click="tools.item.add(form, 'actions', {type:'calendar',userId:user.objectId})">Add Workflow</a></td>
									</tr>
								</table>	
							</div>
							<div role="tabpanel" class="tab-pane" id="redirect">Comming Soon</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="share" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Share Form</h4>
				</div>
				<div class="modal-body">
					<p class="alert alert-warning">The sharing permissions for this form do not reflect sharing permissions of the data its self.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>