<div class="container" ng-controller="ComFaxCtrl">
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item active">Fax Numbers</div>
				<div class="list-group-item" ng-repeat="n in numbers" ng-click="tools.number.focus(n)">
					<span>{{n.number}} - {{n.title}}</span>
				</div>
				<div class="list-group-item">
					<div class="input-group">
						<select class="form-control" ng-options="item.code as item.title for item in areaCodes" ng-model="temp.areaCode"></select>
						<div class="input-group-addon" ng-click="tools.provision.order(temp.areaCode)">Order Number</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default" ng-show="number">
				<div class="panel-heading">
					<span>{{number.number}}</span>
					<span class="pull-right">
						<a class="btn btn-info btn-xs" ng-click="tools.number.acl(number)" title="Share"><i class="fa fa-users"></i></a>
						<!--<a class="btn btn-info btn-xs" ng-click="tools.document.acl(n)" title="Set who can see incomming documents to this number."><i class="fa fa-sitemap"></i></a>-->
					</span>
				</div>
				<div class="panel-body">
					<input type="text" class="form-control" placeholder="Title" ng-model="number.title">
					<h4>City: {{number.city}}</h4>
					<h4>State: {{number.state}}</h4>
					<hr>
					<!--<p>Add routing information || triggers</p>-->
					<a class="pull-right btn btn-success btn-xs" ng-click="tools.number.save(number)" title="Save">Save</a>
				</div>
			</div>
		</div>
	</div>
</div>